<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="KinhMat_Server.Service1">
        <endpoint address="" binding="basicHttpBinding" contract="KinhMat_Server.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service1/" />
          </baseAddresses>
        </host>
      </service>
      <service name="KinhMat_Server.Service_XuatKho">
        <endpoint address="" binding="basicHttpBinding" contract="KinhMat_Server.IService_XuatKho">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_XuatKho/" />
          </baseAddresses>
        </host>
      </service>
      <service name="KinhMat_Server.Service_NhapKho">
        <endpoint address="" binding="basicHttpBinding" contract="KinhMat_Server.IService_NhapKho">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_NhapKho/" />
          </baseAddresses>
        </host>
      </service>
      <service name="KinhMat_Server.Service_ThongKe">
        <endpoint address="" binding="basicHttpBinding" contract="KinhMat_Server.IService_ThongKe">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_ThongKe/" />
          </baseAddresses>
        </host>
      </service>
      <service name="KinhMat_Server.Service_loaihang">
        <endpoint address="" binding="basicHttpBinding" contract="KinhMat_Server.IService_loaihang">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_loaihang/" />
          </baseAddresses>
        </host>
      </service>
      <service name="KinhMat_Server.SV_LoaiHang">
        <endpoint address="" binding="basicHttpBinding" contract="KinhMat_Server.ISV_LoaiHang">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/SV_LoaiHang/" />
          </baseAddresses>
        </host>
      </service>
      <service name="KinhMat_Server.Service_SanPham">
        <endpoint address="" binding="basicHttpBinding" contract="KinhMat_Server.IService_SanPham">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_SanPham/" />
          </baseAddresses>
        </host>
      </service>
      <service name="KinhMat_Server.Service_KhachHang">
        <endpoint address="" binding="basicHttpBinding" contract="KinhMat_Server.IService_KhachHang">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_KhachHang/" />
          </baseAddresses>
        </host>
      </service>
      <service name="KinhMat_Server.Service_HoaDon">
        <endpoint address="" binding="basicHttpBinding" contract="KinhMat_Server.IService_HoaDon">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_HoaDon/" />
          </baseAddresses>
        </host>
      </service>
      <service name="KinhMat_Server.Service_ChiTietHoaDon">
        <endpoint address="" binding="basicHttpBinding" contract="KinhMat_Server.IService_ChiTietHoaDon">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_ChiTietHoaDon/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
