<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService_NhapKho" />
                <binding name="BasicHttpBinding_IService_loaihang" />
                <binding name="BasicHttpBinding_IService_SanPham" />
                <binding name="BasicHttpBinding_IService_KhachHang" />
                <binding name="BasicHttpBinding_IService_HoaDon" />
                <binding name="BasicHttpBinding_IService_ChiTietHoaDon" />
                <binding name="BasicHttpBinding_IService_XuatKho" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_NhapKho/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_NhapKho"
                contract="ServiceReference_Nhapkho.IService_NhapKho" name="BasicHttpBinding_IService_NhapKho" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_loaihang/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_loaihang"
                contract="ServiceReference_loaiHang.IService_loaihang" name="BasicHttpBinding_IService_loaihang" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_SanPham/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_SanPham"
                contract="ServiceReference_sanPham.IService_SanPham" name="BasicHttpBinding_IService_SanPham" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_KhachHang/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_KhachHang"
                contract="ServiceReference_khachHang.IService_KhachHang" name="BasicHttpBinding_IService_KhachHang" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_HoaDon/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_HoaDon"
                contract="ServiceReference_hoaDon.IService_HoaDon" name="BasicHttpBinding_IService_HoaDon" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_ChiTietHoaDon/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_ChiTietHoaDon"
                contract="ServiceReference_chiTietHD.IService_ChiTietHoaDon"
                name="BasicHttpBinding_IService_ChiTietHoaDon" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/KinhMat_Server/Service_XuatKho/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_XuatKho"
                contract="ServiceReference_xuatKho.IService_XuatKho" name="BasicHttpBinding_IService_XuatKho" />
        </client>
    </system.serviceModel>
</configuration>